<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDisplayName</key>
        <string>OneSignal Crash</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>mailto</string>
            <string>fb</string>
            <string>twitter</string>
        </array>
        <key>LSMinimumSystemVersion</key>
        <string>12.0</string>
        <key>MinimumOSVersion</key>
        <string>13.0</string>
        <key>UIDeviceFamily</key>
        <array>
            <integer>1</integer>
            <integer>2</integer>
        </array>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>XSAppIconAssets</key>
        <string>Assets.xcassets/AppIcon.appiconset</string>
        <key>CFBundleIdentifier</key>
        <string>uk.co.3d-technologies.OneSignal_iOS_Crash</string>
        <key>CFBundleName</key>
        <string>OneSignal Crash</string>
        <key>UIBackgroundModes</key>
        <array>
            <string>bluetooth-central</string>
            <string>bluetooth-peripheral</string>
        </array>
        <key>UIViewControllerBasedStatusBarAppearance</key>
        <true/>
        <key>ITSAppUsesNonExemptEncryption</key>
        <false/>
        <key>UIFileSharingEnabled</key>
        <true/>
        <key>CFBundleURLTypes</key>
        <array>
        </array>
        <key>CFBundleDocumentTypes</key>
        <array>
        </array>
        <key>LSSupportsOpeningDocumentsInPlace</key>
        <false/>
        <key>UISupportsDocumentBrowser</key>
        <false/>
        <key>UIRequiresFullScreen</key>
        <true/>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>



        <!-- Permission options for the `bluetooth` -->
        <key>NSBluetoothAlwaysUsageDescription</key>
        <string>bluetooth</string>
        <key>NSBluetoothPeripheralUsageDescription</key>
        <string>bluetooth</string>

        <!-- Permission options for the `photos` group -->
        <key>NSPhotoLibraryUsageDescription</key>
        <string>photo</string>
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>photo</string>
        
        <!-- Permission options for the `location` group -->
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>Location is required for more accurate results and measurements when communicating with Moasure ONE devices</string>
    </dict>
</plist>